/* font-family: 'Oswald', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

/* font-family: 'Montserrat', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

.header {
  display: flex;
}

.logo {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 44px;
  color: #626262;
}

.address {
  display: flex;
}
