/* @import url("normalize.css"); */

/* font-family: 'Oswald', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

/* font-family: 'Montserrat', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

.wrapper {
  max-width: 1146px;
  margin: 0 auto;
}

.header {
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  list-style: none;
  align-items: center;
}

.logo {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 44px;
  color: #626262;
  margin-right: 245px;
}

.address {
  display: flex;
  align-items: center;
}

.address__img {
  width: 23px;
  height: 23px;
  margin-right: 15px;
}

.address__text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin-right: 128px;
}

.contacts {
  display: flex;
  align-items: center;
}

.contacts__phone {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.contacts__img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.header__button {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  padding: 6px 42px 8px;
  background: #ea8f41;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  margin-left: 33px;
}
